/* General Reset */
body, html, div, h1, p, a, img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Landing Page Styles */
.landing-container {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: #333;
}

/* Header */
.landing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--tertiary-color);
  border-bottom: 1px solid var(--border-color);
}

.landing-header {
  height: 50px;
}

.logo{
  height: 80px;
}

.landing-header nav a {
  margin-left: 1rem;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1rem;
}

.landing-header nav .cta-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.landing-header nav .cta-button:hover {
  background-color: var(--dark-primary-color);
}

/* Main Section */
.landing-main {
  text-align: center;
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(120deg, var(--primary-color), var(--dark-primary-color));
  color: var(--secondary-color);
}

.landing-main h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.landing-main p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.landing-main .cta-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.landing-main .cta-button:hover {
  background-color: var(--dark-secondary-color);
}

/* Footer */
.landing-footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--tertiary-color);
  font-size: 0.9rem;
}

.large-logo {
  width: 150px; /* Adjust the size as needed */
  height: auto;
}
