service cloud.firestore {
  match /databases/{database}/documents {
    // Allow authenticated users to read user documents
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == userId;
    }

    // Allow read access to all users under the "projects" collection
    match /projects/{projectId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid in resource.data.contributors;
    }
  }
}