.settings-container {
  display: flex;
  height: 100vh;
  background-color: var(--tertiary-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

/* Sidebar Styling */
.sidebar {
  width: 250px;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 1.5rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.sidebar .user-info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.sidebar .user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}

.sidebar .user-info .username {
  font-size: 1.2rem;
  font-weight: bold;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-bottom: auto; /* Ensure the list items are aligned towards the top */
}

.sidebar li {
  padding: 0.8rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--sidebar-link-bg-color);
  transition: background-color 0.3s;
}

.sidebar li.active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.sidebar li:hover {
  background-color: var(--sidebar-link-hover-bg-color);
}

.back-btn {
  background: var(--warning-color);
  color: var(--text-color);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 0.8rem;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
  transition: background-color 0.3s;
}

.back-btn:hover {
  background: var(--dark-secondary-color);
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 2rem;
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.settings-content {
  background: var(--secondary-color);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  min-width: 300px;
}

.settings-content h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

/* Profile Picture Section */
.profile-picture-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.profile-picture-section input[type="file"] {
  display: block;
}

/* Modal Styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: auto;
  text-align: center;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-content .delete-btn {
  background-color: #dc3545;
  color: white;
}

.modal-content .delete-btn:hover {
  background-color: #c82333;
}

.modal-content .delete-btn:active {
  background-color: #a71d2a;
}

.modal-content .cancel-btn {
  background-color: #6c757d;
  color: white;
  margin-left: 1rem;
}

.modal-content .cancel-btn:hover {
  background-color: #5a6268;
}

.modal-content .cancel-btn:active {
  background-color: #545b62;
}